doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "Welcome!"
        link(rel="stylesheet", href="bootstrap.min.css")
        link(rel="stylesheet", href="stylo.css")
    body
        .container-fluid
            .row
                .container-fluid.alt-font-color.text-center
                    h1 Blockchain JS prototype
            .row
                .container-fluid.alt-font-color.text-center
                    h2 About
            .row
                .col-md-3      
                .col-md-6.text-justify.about-text
                    p
                        | This is a blockchain prototype written entirely in JavaScript using NodeJS and Redis (memurai is recommended as a substitute in Windows systems). The use case is the sharing of numbers through block&apos;s data.        
                .col-md-3     
            .row
                .container-fluid.alt-font-color.text-center
                    h2 Actions
            .row
                .col-md-3
                .col-md-6
                    p
                        | To see the current blockchain go to 
                        a(href="/bc/showchain") showchain
                    p
                        | To push a block go to 
                        a(href="/bc/sendblock") sendblock
                    p
                        | To Log in and test registry go to 
                        a(href="/login") Log in
                .col-md-3     
            footer.page-footer.font-small.fixed-bottom
                .footer-copyright.text-center.py-3
                | &copy; 2020
