<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet", href="bootstrap.min.css")
        link(rel="stylesheet", href="stylo.css")
    body
        .container-fluid
            .row
                .col-md-3
                .col-md-6
                    h1.display-4.mb-2 Log in
                    form(method='POST' action='/login')
                        if validationError
                            .form-group
                                h3.text-danger Invalid email or password
                        .form-group
                            label(for='email') Email
                            input.form-control(type="email" id="email" placeholder="example@mail.com" name="email")
                        .form-group
                            label(for='pass') Password
                            input.form-control(type="password" id="pass" placeholder="*******" name="pass")
                        button.btn.btn-primary(type="submit") Log in
                .col-md-3