<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="../bootstrap.min.css")
        link(rel="stylesheet", href="../stylo.css")
    body
        .container-fluid
            .row
                .col-md-3
                .col-md-6.text-center.alt-font-color
                    h1 Resource Selection
                .col-md-3
            .row
                .col-md-3
                .col-md-6.text-center
                    .list-group
                        each value in resxlist
                            a(href=value).list-group-item.list-group-item-action= value
                .col-md-3