doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "Oops!"
        link(rel="stylesheet", href="bootstrap.min.css")
        link(rel="stylesheet", href="stylo.css")
    body
        .container-fluid
            .row
                .container-fluid.alt-font-color.text-center
                    h1 Error 404
            .row
                .col-md-3
                .col-md-6.text-center
                    p Seems like 
                        code= wrongturn 
                        |  is not a valid endpoint
                .col-md-3