<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="bootstrap.min.css")
        link(rel="stylesheet", href="stylo.css")
    body
        .container-fluid
            .row
                .col-md-3
                .col-md-6.alt-font-color.text-center
                    h1= resxname
                .col-md-3
