doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "Send block"
        link(rel="stylesheet", href="bootstrap.min.css")
        link(rel="stylesheet", href="stylo.css")
    body
        .container-fluid
            .row
                .col-md-3
                .col-md-6
                    form(action="/bc/mineBlock", method="post")
                        .form-group
                            label(for="data") Block's content
                            input.form-control#data(type="text", name="data", placeholder="Enter content", autofocus)
                        button.btn.btn-primary(type="submit") Submit
                .col-md-3