doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= "Blockchain viewer"
        link(rel="stylesheet", href="bootstrap.min.css")
        link(rel="stylesheet", href="stylo.css")
    body
        .container-fluid
            .row
                .col-md-3      
                .col-md-6.alt-font-color.text-center
                    h1 Blockchain
                .col-md-3
            .row
                .col-md-3.text-center
                    a.btn.btn-primary(href="/bc/sendblock") Send block
                .col-md-6
                    .card.mx-auto(style='width: 18rem; color: black;')
                        .card-header Block&apos;s Hash and Content          
                        ul.list-group.list-group-flush
                            each value in blocks
                                li.list-group-item
                                    p 
                                        b Hash: 
                                        span= value.hash
                                    p 
                                        b Content: 
                                        code= JSON.stringify(value.data)
                .col-md-3