html{
    height: 100%;
}

body{
    height: inherit;
}

.container-fluid{
    background-color: #333333;
    color: whitesmoke;
    min-height: 100%;
}

.alt-font-color{
    color: darkorange;
}

.about-text{
    font-size: 1.2em;
}